<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card">

      {{!-- card header --}}
      <div class="card-header">
        <form action="/">
          <select name="categoryId" id="category" onchange="form.submit()">
            <option value="" readonly>{{selectedCategoryName}}</option>
            {{#each categories}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </form>
      </div>
      {{!-- card header end --}}

      {{!-- card body --}}
      <div class="card-body mt-3">
        <div class="total-expense d-flex row">
          <div>Total Amount：</div>
          <p>{{totalAmount}}</p>
        </div>
        <div class="expenses">
          <ul class="list-group d-flex row ">
            {{#each records}}
            <li class="list-group-item d-flex">
              <div class="d-flex col mx-1">
                <i class="m-1">icon</i>
                <div class="m-1">
                  <p>{{this.name}}</p>
                  <p>{{this.date}}</p>
                </div>
                <p class="ms-auto">{{this.amount}}</p>
              </div>
              <div class="buttons mx-1">
                <a class="btn btn-primary" href="./records/{{this._id}}/edit">Edit</a>
                <form method="POST" action="./records/{{this._id}}?_method=DELETE" style="display: inline;">
                  <button class="btn btn-danger" type="submit">Delete</button>
                </form>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>

      </div>
      {{!-- card body end --}}

      {{!-- card footer --}}
      <div class="card-footer">
        <a href="/records/new" class="btn btn-info btn-block">Add An Expense</a>
      </div>
      {{!-- card footer and --}}
    </div>
  </div>
</div>
